<div class="example-container">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        No se pudieron obtener datos. Por favor vuelva a intentar más tarde.
      </div>
    </div>
  
    <div class="topmenu-container" >
      <div>
      
        <app-selector-default class="medium-selector" nombre="tipopresentacion" type="hardcode" (optionSelected)="changeTipoPresentacion($event)"></app-selector-default>
        <app-year-selector class="medium-selector"
          [defaultDate]="defaultDate$"
          (yearEmitter)="onYearSelectChange($event)"
          placeholder="Año">
        </app-year-selector>

        <app-selector-default class="medium-selector" nombre="mes" type="hardcode" (optionSelected)="changeMes($event)" [disabled]="isTipoPresentacionAnual()"></app-selector-default>
      </div>
        <div>
          <button mat-button color="secondary" class="topmenu-button" (click)="printService.printTOPDF()">Imprimir</button>
      <!--    <button mat-button color="secondary" class="topmenu-button" (click)="exportarTXT()">Exportar TXT</button> -->
          <mat-form-field class="topmenu-search">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </div>
    </div>
    <div class="table-container">   
      <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="Creado" matSortDisableClear
        matSortDirection="desc"  id="contentTOPDF">
        <!-- Number Column -->
  
        <!-- State Column Legajo-->
        <ng-container matColumnDef="Legajo">
          <th mat-header-cell *matHeaderCellDef>Legajo</th>
          <td mat-cell *matCellDef="let row">{{row.legajo}}</td>
        </ng-container>
  
          <!-- State Column Remuneraciones-->
        <ng-container matColumnDef="Remuneraciones">
            <th mat-header-cell *matHeaderCellDef>Remuneraciones</th>
            <td mat-cell *matCellDef="let row">{{row.totalremuneraciones}}</td>
        </ng-container>

        <!-- State Column Deducciones Generales-->
        <ng-container matColumnDef="Deducciones Generales">
            <th mat-header-cell *matHeaderCellDef>Deducciones Generales</th>
            <td mat-cell *matCellDef="let row">{{row.totaldeduccionesgenerales}}</td>
        </ng-container>

        <!-- State Column Deducciones Personales-->
        <ng-container matColumnDef="Deducciones Personales">
            <th mat-header-cell *matHeaderCellDef>Deducciones Personales</th>
            <td mat-cell *matCellDef="let row">{{row.totaldeduccionespersonales}}</td>
        </ng-container>

        <!-- State Column Impuesto Determinado-->
        <ng-container matColumnDef="Impuesto Determinado">
            <th mat-header-cell *matHeaderCellDef>Impuesto Determinado</th>
            <td mat-cell *matCellDef="let row">{{row.totalimpuestodeterminado}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  <div>
    <mat-paginator class="paginator-container" #paginator [pageSize]="10" [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
  </div>
  
    <!--<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>-->
  </div>