<ng-container *ngIf="print$ | async as print; then imprimir; else default">
</ng-container>

<ng-template #default>
<div *ngIf="currentItem$ | async as data" class="liquidacion-container">
  <h1 *ngIf="data.ID">
    Modificar SiRADIG <span>{{data.ID}}</span>
  </h1>
  <h1 *ngIf="!data.ID">
    Nuevo SiRADIG
  </h1>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content" id="contentTOPDF">
    <div>
      <app-selector-default nombre="legajo" [(matSelect)]="data.legajoid" (optionSelected)="data.legajo=$event">
      </app-selector-default>
      <div>
        <mat-form-field class="standard-input"><input required=true matInput type="month" placeholder="Periodo" [(ngModel)]="periodo" autocomplete="off"></mat-form-field>
      </div>
    </div>

    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Detalles de las cargas de familia
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Conyuge</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngIf="conyugesiradig">
              <mat-form-field class="children-input"><input matInput [(ngModel)]="conyugesiradig.nombre" placeholder="Nombre" type="text" autocomplete="off"></mat-form-field>
              <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="conyugesiradig.aplica" (optionSelected)="conyugesiradig.aplica=getBoolean($event)" placeholder="Aplica" autocomplete="off"></app-selector-default>
              <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="conyugesiradig.estaacargo" (optionSelected)="conyugesiradig.estaacargo=getBoolean($event)" placeholder="¿Está a Cargo?" autocomplete="off"></app-selector-default>
              <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="conyugesiradig.residenteenelpais" (optionSelected)="conyugesiradig.residenteenelpais=getBoolean($event)" placeholder="¿Recidente en el País?" autocomplete="off"></app-selector-default>
              <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="conyugesiradig.obtuvoingresos" (optionSelected)="conyugesiradig.obtuvoingresos=getBoolean($event)" placeholder="¿La persona declarada obtuvo ingresos?" autocomplete="off"></app-selector-default>
              <mat-form-field class="children-input"><input matInput [(ngModel)]="conyugesiradig.montoanual" placeholder="Monto anual de los ingresos" type="text" autocomplete="off"></mat-form-field>
              <mat-form-field class="standard-input"><input matInput type="month" (focusout)="conyugesiradig.mesdesde = getPeriodo($event)" placeholder="Mes desde" [(ngModel)]="conyugesiradig.mesdesde" autocomplete="off"></mat-form-field>
              <mat-form-field class="standard-input"><input matInput type="month" (focusout)="conyugesiradig.meshasta = getPeriodo($event)" placeholder="Mes hasta" [(ngModel)]="conyugesiradig.meshasta" autocomplete="off"></mat-form-field>
            </tr>
          </table>
        </div>
        <mat-divider></mat-divider>
        <h2>Hijos</h2>
        <div class="children-container">
          <table style="width:100%">
              <tr *ngFor="let hijo of hijossiradig">
                <mat-form-field class="children-input"><input matInput [(ngModel)]="hijo.nombre" placeholder="Nombre" type="text" autocomplete="off"></mat-form-field>
                <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="hijo.aplica" (optionSelected)="hijo.aplica=getBoolean($event)" placeholder="Aplica" autocomplete="off"></app-selector-default>
                <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="hijo.estaacargo" (optionSelected)="hijo.estaacargo=getBoolean($event)" placeholder="¿Está a Cargo?" autocomplete="off"></app-selector-default>
                <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="hijo.residenteenelpais" (optionSelected)="hijo.residenteenelpais=getBoolean($event)" placeholder="¿Recidente en el País?" autocomplete="off"></app-selector-default>
                <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="hijo.obtuvoingresos" (optionSelected)="hijo.obtuvoingresos=getBoolean($event)" placeholder="¿La persona declarada obtuvo ingresos?" autocomplete="off"></app-selector-default>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="hijo.montoanual" placeholder="Monto anual de los ingresos" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="standard-input"><input matInput type="month" (focusout)="hijo.mesdesde = getPeriodo($event)" placeholder="Mes desde" [(ngModel)]="hijo.mesdesde" autocomplete="off"></mat-form-field>
                <mat-form-field class="standard-input"><input matInput type="month" (focusout)="hijo.meshasta = getPeriodo($event)" placeholder="Mes hasta" [(ngModel)]="hijo.meshasta" autocomplete="off"></mat-form-field>
              </tr>
          </table>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Importe de las ganancias liquidadas en el transcurso del periodo fiscal por otros empleadores o entidades
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Detalle de importes mensuales</h2>
        <div class="children-container">
          <table style="width:100%">
              <tr *ngFor="let item of data.importegananciasotroempleosiradig">
                <div *ngIf="(item.DeletedAt == null)">
                  <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(hijo)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importegananciasbrutas" placeholder="Importe ganancias brutas" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.aporteseguridadsocial" placeholder="Aporte seguridad social" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.aporteobrasocial" placeholder="Aporte obra social" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.aportesindical" placeholder="Aporte sindical" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importeretribucionesnohabituales" placeholder="Importe retribuciones no habituales" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importeretencionesgananciassufridas" placeholder="Importe retenciones ganancias sufridas" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.ajustes" placeholder="Ajustes" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importeconceptosexentos" placeholder="Importe conceptos exentos/ no alcanzados en ganancias" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.sac" placeholder="SAC" type="number" autocomplete="off"></mat-form-field>                  
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importehorasextrasgravadas" placeholder="Importe horas extras gravadas" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importehorasextrasexentas" placeholder="Importe horas extras exentas" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.materialdidactico" placeholder="Material didactico" type="number" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="item.gastosmovilidad" placeholder="Gastos movilidad y viáticos" type="number" autocomplete="off"></mat-form-field>
                </div>
              </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Deducciones y desgravaciones
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Cuota médica asistencial</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CUOTA_MEDICA_ASISTENCIAL' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(hijo)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.meshasta" placeholder="Mes Hasta" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <mat-divider></mat-divider>
        <h2>Primas de seguro para el caso de muerte</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'SEGURO_MUERTE' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(hijo)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.meshasta" placeholder="Mes Hasta" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <mat-divider></mat-divider>
        <h2>Primas de seguro de ahorro o mixto</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'SEGURO_AHORRO' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(hijo)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.meshasta" placeholder="Mes Hasta" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <mat-divider></mat-divider>
        <h2>Aportes a planes de seguro de retiro privado</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.meshasta" placeholder="Mes Hasta" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Donaciones</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Intereses préstamo hipotecario</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Gastos de sepelio</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Fecha" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.comprobante" placeholder="Comprobante" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Gastos médicos y paramédicos</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.comprobante" placeholder="Comprobante" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Gastos de adquisición de indumentaria y equipamiento para uso exclusivo en el lugar de trabajo</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Fecha" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.comprobante" placeholder="Comprobante" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Alquiler de inmuebles destinados a casa habitación</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.comprobante" placeholder="Comprobante" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Deducción del personal doméstico</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.contribucion" placeholder="Contribución" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.retribucion" placeholder="Retribución" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Aportes a sociedades de garantía recíproca</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.cuit" placeholder="CUIT" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.empresa" placeholder="Empresa" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Fecha aporte" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.montocapitalaporte" placeholder="Monto capital aporte" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.montofondoriesgoaporte" placeholder="Monto fondo de riesgo aporte" type="number" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Vehículos de viajantes y corredores de comercio</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.valor" placeholder="Valor" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.porcentajeafectacion" placeholder="Porcentaje de afectación" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.amortizacionperiodo" placeholder="Amortización del período" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Gastos de representación e intereses de corredores y viajantes de comercio</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Otras</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Adquisición de cuotapartes de FCI con fines de retiro</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Honorarios serv. Asistencia sanitaria, médica y paramédica</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <h2>Aportes cajas complementarias / Fondos compensadores de prev. / Similares</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CODIGO_SIRADIG' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(item)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
      </mat-expansion-panel>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Deducciones y desgravaciones
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Cuota médica asistencial</h2>
        <div class="children-container">
          <table style="width:100%">
            <tr *ngFor="let item of data.deducciondesgravacionsiradig">
              <div *ngIf="(item.siradigtipogrilla.codigo == 'CUOTA_MEDICA_ASISTENCIAL' && item.DeletedAt == null)">
                <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(hijo)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.mes" placeholder="Mes" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.meshasta" placeholder="Mes Hasta" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.importe" placeholder="Importe" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="children-input"><input matInput [(ngModel)]="item.descripcion" placeholder="Descripción" type="text" autocomplete="off"></mat-form-field>
              </div>
            </tr>
          </table>
        </div>
        <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewImportegananciasotroempleosiradig(data)">Agregar Item</button>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
    </div>

    <div mat-dialog-actions class="actions">
      <button mat-raised-button color="primary" mat-button (click)="onClickSave(data)">Guardar</button>
      <button mat-raised-button mat-button color="secondary" (click)="onClickAbort()">Cerrar</button>
      <button mat-raised-button *ngIf=isNew(data) color="secondary" mat-button
        (click)="onClickPreview()">Imprimir</button>
    </div>
  </div>
</div>
</ng-template>

<ng-template #imprimir>
  <div *ngIf="currentItem$ | async as data" class="liquidacion-container">
    <!--<app-liquidacion-print [liquidacion]="data"></app-liquidacion-print>-->
    <div mat-dialog-actions class="actions">
      <button mat-raised-button mat-button (click)="onClickId()">Cerrar</button>
      <button mat-raised-button color="primary" mat-button (click)="onClickPrint()">Descargar</button>
    </div>
  </div>
</ng-template>