h1 {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
  }
  
  h2 {
    font: 500 15px/27px Roboto,"Helvetica Neue",sans-serif;
    color: grey;
  }
  
  .liquidacion-container {
    margin: 1em;
    padding: 1em 1em 3em 1em;
    background-color: #ffffff;
  }
  
  ::ng-deep.big-input {
    width: 815px;
    height: 60px;
    margin-right: 15px;
  }
  
  .children-container {
    margin: 1em;
    padding: 1em 1em 1em 1em;
    /* background-color: grey; */
    border-radius: 5px;
    -webkit-box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.5);
    box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.5);
  }
  
  .children-input {
    width: 100px;
    height: 60px;
    margin-right: 15px;
  }
  
  .content {
    padding: 1em;
  }
  
  .small-input {
      width: 200px;
      height: 60px;
      margin-right: 15px;
  }
  
  .standard-input {
      width: 400px;
      height: 60px;
      margin-right: 15px;
  }
  
  .actions {
      float: right;
  }
  
  .actions button {
    margin-right: 8px;
  }
  
  table {
      background: #ffffff;
      min-width: 400px;
      width: 100%;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }
  
  .add-button {
    float: right;
    bottom: 15px;
    right: -30px;
  }
  
  input {
    -moz-appearance:textfield;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .mat-expansion-panel-header-description {
    flex-grow: 0.05;
  }
  
  .totales {
    margin-left: 25px;
  }
  
  .totales p {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  
  .totales span {
    font-weight: 575;
  }