@import "~bulma/sass/utilities/_all.sass";

div.formula-create-container {
  margin: 1em;
  padding: 1em 1em 3em 1em;
  background-color: #ffffff;

  h1.page-title {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
  }

  mat-form-field {
    width: 100%;
  }

  @include tablet {
    mat-accordion {
      mat-expansion-panel {
        // display: none;
        // padding-right: 15rem;
      }
    }
  }
}