<div mat-dialog-content class="content" id="contentTOPDF" style="padding: 5em 0 5em 0; overflow: auto;">
  <table class="tg">
    <colgroup>
      <col style="width: 58px">
      <col style="width: 58px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 34px">
      <col style="width: 34px">
      <col style="width: 34px">
      <col style="width: 34px">
      <col style="width: 34px">
    </colgroup>
    <tr>
      <th class="tg-0pky" colspan="4">logo</th>
      <th class="tg-0lax" colspan="5">datos</th>
      <th class="tg-0lax">{{data.nombre}}</th>
    </tr>
    <tr>
      <td class="tg-0lax">legajo</td>
      <td class="tg-0lax" colspan="3">apellido y nombre</td>
      <td class="tg-0lax">cuil</td>
      <td class="tg-0lax">n documento</td>
      <td class="tg-0lax">fecha ingreso</td>
      <td class="tg-0lax">fecha de pago</td>
      <td class="tg-0lax">remuneracion</td>
      <td class="tg-0lax">tipo</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="2" rowspan="2">categoria</td>
      <td class="tg-0lax" rowspan="2">sector</td>
      <td class="tg-0lax" rowspan="2">periodo liquidacion</td>
      <td class="tg-0lax" colspan="2" rowspan="2">tarea</td>
      <td class="tg-0lax" colspan="4">deposito</td>
    </tr>
    <tr>
      <td class="tg-0lax">periodo</td>
      <td class="tg-0lax">fecha</td>
      <td class="tg-0lax" colspan="2">banco</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="6">haberes</td>
      <td class="tg-0lax" colspan="4">deducciones</td>
    </tr>
    <tr>
      <td class="tg-0lax">cod</td>
      <td class="tg-0lax" colspan="2">detalle</td>
      <td class="tg-0lax">cantidad</td>
      <td class="tg-0lax">remunerativo</td>
      <td class="tg-0lax">no remunerativo</td>
      <td class="tg-0lax">cod</td>
      <td class="tg-0lax">detalle</td>
      <td class="tg-0lax">cantidad</td>
      <td class="tg-0lax">importe</td>
    </tr>
    <tr>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax" colspan="2">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="4">totales</td>
      <td class="tg-0lax">nomto</td>
      <td class="tg-0lax">monto</td>
      <td class="tg-0lax" colspan="3">totales</td>
      <td class="tg-0lax">monto</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="9">sueldo neto a cobrar</td>
      <td class="tg-0lax">monto</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="5">lugar de pago</td>
      <td class="tg-0lax" colspan="4">leyenda y firma</td>
      <td class="tg-0lax"></td>
    </tr>
  </table>
</div>