<div mat-dialog-content class="content" id="contentTOPDF" style="padding: 5em 0 5em 0; overflow: auto;">
  <table class="tg">
    <colgroup>
      <col style="width: 58px">
      <col style="width: 58px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 35px">
      <col style="width: 34px">
      <col style="width: 34px">
      <col style="width: 34px">
      <col style="width: 34px">
      <col style="width: 34px">
    </colgroup>
    <tr>
      <th class="tg-0pky" colspan="4">logo</th>
      <th class="tg-0lax" colspan="5">
        <div class="empresa">
          <ul>
            <li>Empleador: {{empresa.nombre}}</li>
            <li>Domicilio: {{empresa.domicilio}}</li>
            <li>Localidad: {{empresa.localidad}}</li>
            <li>CUIT Empleador: {{empresa.cuit}}</li>
          </ul>
        </div>
      </th>
      <th class="tg-0lax">Nº {{liquidacion.ID}}</th>
    </tr>
    <tr>
      <td class="tg-0lax">legajo<div class="dato">{{liquidacion.legajo.legajo}}</div></td>
      <td class="tg-0lax" colspan="3">apellido y nombre <div class="dato">{{liquidacion.legajo.apellido}}, {{liquidacion.legajo.nombre}}</div></td>
      <td class="tg-0lax">cuil<div class="dato">{{liquidacion.legajo.cuil}}</div></td>
      <td class="tg-0lax">n documento<div class="dato">{{obtenerDni()}}</div></td>
      <td class="tg-0lax">fecha ingreso<div class="dato">{{liquidacion.legajo.fechaalta | date: 'dd-MM-yyyy'}}</div></td>
      <td class="tg-0lax">fecha de pago<div class="dato">{{liquidacion.fecha | date: 'dd-MM-yyyy'}}</div></td>
      <td class="tg-0lax">remuneracion<div class="dato">{{calcularImporteTotal()}}</div></td>
      <td class="tg-0lax">tipo<div class="dato">{{liquidacion.tipo}}</div></td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="2" rowspan="2">categoria<div class="dato">{{liquidacion.legajo.categoria}}</div></td>
      <td class="tg-0lax" rowspan="2">sector<div class="dato">-</div></td>
      <td class="tg-0lax" rowspan="2">periodo liquidacion<div class="dato">{{liquidacion.fechaperiodoliquidacion | date: 'dd-MM-yyyy'}}</div></td>
      <td class="tg-0lax" colspan="2" rowspan="2">tarea<div class="dato">{{liquidacion.legajo.tarea}}</div></td>
      <td class="tg-0lax" colspan="4" class="text-center">Depósito aporte jubilatorio Art. 12 Ley 17.250/67</td>
    </tr>
    <tr>
      <td class="tg-0lax">periodo<div class="dato">{{liquidacion.fechaperiodoliquidacion | date: 'dd-MM-yyyy'}}</div></td>
      <td class="tg-0lax">fecha<div class="dato">{{liquidacion.fechaultimodepositoaportejubilatorio | date: 'dd-MM-yyyy'}}</div></td>
      <td class="tg-0lax" colspan="2">banco<div class="dato">-</div></td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="6" class="text-center">haberes</td>
      <td class="tg-0lax" colspan="4" class="text-center">deducciones</td>
    </tr>
    <tr>
      <td class="tg-0lax">cod</td>
      <td class="tg-0lax" colspan="2">detalle</td>
      <td class="tg-0lax">cantidad</td>
      <td class="tg-0lax">remunerativo</td>
      <td class="tg-0lax">no remunerativo</td>
      <td class="tg-0lax">cod</td>
      <td class="tg-0lax">detalle</td>
      <td class="tg-0lax">cantidad</td>
      <td class="tg-0lax">importe</td>
    </tr>
    
    <tr class="item" *ngFor="let item of items">
      <td class="tg-0lax border-right">dato</td>
      <td class="tg-0lax" colspan="2">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
      <td class="tg-0lax">dato</td>
    </tr>

    <tr>
      <td class="tg-0lax" colspan="4">totales</td>
      <td class="tg-0lax">nomto</td>
      <td class="tg-0lax">monto</td>
      <td class="tg-0lax" colspan="3">totales</td>
      <td class="tg-0lax">monto</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="9">sueldo neto a cobrar</td>
      <td class="tg-0lax">monto</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="5">lugar de pago<div class="dato">{{empresa.localidad}}</div></td>
      <td class="tg-0lax" colspan="4" alt="Leyenda y Firma">
        <div class="leyenda">Recibi el importe neto de esta liquidacion en pago de mi remuneracion correspondiente al periodo indicado y duplicado de
        la misma, conforme a la ley vigente.</div>
        <div class="firma">Firma:</div>
      </td>
      <td class="tg-0lax"></td>
    </tr>
  </table>
</div>