div.loading-container {
  position: fixed;
  top: 0;
  left: 4%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 300;
}
