<div
  id="main"
  #main
  class="draggable-space-container bg-gray"
  [ngClass]="{ 'expanded': !isItemPickerExpanded }"
  (dragover)='onDragOver($event)' (drop)="onDrop($event)">
  <div class="trash-container" (dragover)="onTrashDragOver($event)" (drop)="onTrashDrop($event)">
    <span class="trash-icon no-selectable" draggable="false">
      <i class="remove-icon no-selectable far fa-trash-alt"></i>
    </span>
  </div>
  <ng-container *ngFor="let value of valuesinvoke; index as i;">
    <div id="draw-container" [ngStyle]="{'max-width.px': getDropSpaceWidth(), 'max-height.px': getDropSpaceHeight()}">
      <app-formula-draw *ngIf="value.valueinvoke != null" [formulaValue]="value" [formulaParams]="value.params"></app-formula-draw>
    </div>
  </ng-container>
</div>
<div id="warningBox" style="display: none;height: 50px;background-color: goldenrod;bottom: 64px;position: relative;text-align: center;color: white;padding: 7px 0px;">
</div>