@import "../../../../styles/variables.scss";

div.draggable-space-container {
  height: 79%;
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  position: relative;

  #draw-container {
    margin: 0 auto;
  }
}