<h1 mat-dialog-title>Duplicar Liquidaciones</h1>
<mat-divider></mat-divider>

<div mat-dialog-content *ngIf="toggle">
  <div>
    <app-selector-default required=true nombre="liquidaciontipo" placeholder="Tipo" [(matSelect)]="liquidacion.tipoid" (optionSelected)="liquidacion.tipo=$event.ID"></app-selector-default>
  </div>
  <div>
    <mat-form-field class="standard-input"><input required=true matInput type="date" (ngModelChange)="liquidacion.fecha=$event"
      [ngModel]="liquidacion.fecha | date: 'yyyy-MM-dd'" placeholder="Fecha de Liquidacion" autocomplete="off">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="standard-input"><input required=true matInput type="date"
      (ngModelChange)="liquidacion.fechaultimodepositoaportejubilatorio=$event"
      [ngModel]="liquidacion.fechaultimodepositoaportejubilatorio | date: 'yyyy-MM-dd'"
      placeholder="Fecha Ult. Aporte Jubil." autocomplete="off">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="standard-input"><input required=true matInput type="month" placeholder="Periodo Depositado" [(ngModel)]="liquidacion.fechaperiododepositado" autocomplete="off"></mat-form-field>
  </div>
  <div>
    <mat-form-field class="standard-input"><input required=true matInput type="month" placeholder="Periodo Liquidación" [(ngModel)]="liquidacion.fechaperiodoliquidacion" autocomplete="off"></mat-form-field>
  </div>
</div>
<div mat-dialog-content *ngIf="!toggle">
  <div class="box success">
    <strong>{{duplicadosCorrecto}}</strong> Liquidaciones duplicadas correctamente.
  </div>
  <div class="box error">
    <strong>{{duplicadosError}}</strong> Liquidaciones no se pudieron duplicar.
  </div>
</div>
<div mat-dialog-actions>
  <!--<button mat-button (click)="onClickDuplicar()">Duplicar</button>-->
  <button mat-button *ngIf="toggle" (click)="onClickDuplicar()">Duplicar</button>
  
  <button mat-button *ngIf="!toggle" (click)="onNoClick()">Salir</button>
  <button mat-button *ngIf="toggle" (click)="onNoClick()">Cancelar</button>
</div>