div.draggable-space-container {
  height: 79%;
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 43vw;
  overflow-x: auto;

  @media (min-width: 1920px) {
    max-width: 47vw;
  }
}