<div class="formula-draw-container" *ngIf="formulaValue && formulaValue.valueinvoke">
    <div [ngSwitch]="formulaValue.valueinvoke.function.type">
        <div *ngSwitchCase="'operator'" [ngSwitch]="formulaValue.valueinvoke.functionname">
            <div *ngSwitchCase="'If'" class="param number-param no-highlight" draggable="true" (drop)="onDrop($event, formulaValue)" (dragover)="onDragOver($event)" (dragstart)="onDrag($event, formulaValue)" (dragend)="onDragEnd($event, formulaValue)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">
                SI
                <app-formula-draw *ngIf="formulaValue.valueinvoke.args[0].valueinvoke" [formulaValue]="formulaValue.valueinvoke.args[0]"></app-formula-draw>
                <div *ngIf="!formulaValue.valueinvoke.args[0].valueinvoke" [className]="formulaValue.valueinvoke.function.params[0].type + '-param param no-highlight'" class="param boolean-param no-highlight" draggable="true" (click)="formulaValue.valueinvoke.args[0].Valueboolean = !formulaValue.valueinvoke.args[0].Valueboolean" (drop)="onDrop($event, formulaValue.valueinvoke.args[0], formulaValue.valueinvoke.function.params[0])" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">{{formulaValue.valueinvoke.args[0].Valueboolean}}
                    <input type="checkbox" step="1" placeholder="0.00" class="inputedit" style="display: none;" [(ngModel)]="formulaValue.valueinvoke.args[0].Valueboolean" (change)="valueChanged()" (blur)="onBlurInput($event)">
                </div>
                ENTONCES 
                <app-formula-draw *ngIf="formulaValue.valueinvoke.args[1].valueinvoke" [formulaValue]="formulaValue.valueinvoke.args[1]"></app-formula-draw>
                <div *ngIf="!formulaValue.valueinvoke.args[1].valueinvoke" class="param number-param no-highlight" draggable="true" (click)="onClickNode($event)" (drop)="onDrop($event, formulaValue.valueinvoke.args[1], formulaValue.valueinvoke.function.params[1])" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">{{formulaValue.valueinvoke.args[1].valuenumber}}
                    <input type="number" step="1" placeholder="0.00" class="inputedit" style="display: none;" [(ngModel)]="formulaValue.valueinvoke.args[1].valuenumber" (change)="valueChanged()" (blur)="onBlurInput($event)">
                </div>
                SINO 
                <app-formula-draw *ngIf="formulaValue.valueinvoke.args[2].valueinvoke" [formulaValue]="formulaValue.valueinvoke.args[2]"></app-formula-draw>
                <div *ngIf="!formulaValue.valueinvoke.args[2].valueinvoke" class="param number-param no-highlight" draggable="true" (click)="onClickNode($event)" (drop)="onDrop($event, formulaValue.valueinvoke.args[2], formulaValue.valueinvoke.function.params[2])" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">{{formulaValue.valueinvoke.args[2].valuenumber}}
                    <input type="number" step="1" placeholder="0.00" class="inputedit" style="display: none;" [(ngModel)]="formulaValue.valueinvoke.args[2].valuenumber" (change)="valueChanged()" (blur)="onBlurInput($event)">
                </div>
                <span class="remove-badge-container no-selectable hide" draggable="false" (click)="onClickRemove(formulaValue)"><i class="remove-icon no-selectable fas fa-trash-alt highligthed"></i></span>
            </div>
            <div *ngSwitchDefault [className]="formulaValue.valueinvoke.function.result + '-param param no-highlight'" draggable="true" (drop)="onDrop($event, formulaValue)" (dragover)="onDragOver($event)" (dragstart)="onDrag($event, formulaValue)" (dragend)="onDragEnd($event, formulaValue)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">
                <span>{{toPrefixSymbol(formulaValue.valueinvoke.functionname)}}</span>
                <app-formula-draw *ngIf="formulaValue.valueinvoke.args[0].valueinvoke" [formulaValue]="formulaValue.valueinvoke.args[0]"></app-formula-draw>
                <div *ngIf="!formulaValue.valueinvoke.args[0].valueinvoke" class="param number-param no-highlight" draggable="true" (click)="onClickNode($event)" (drop)="onDrop($event, formulaValue.valueinvoke.args[0], formulaValue.valueinvoke.function.params[0])" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">{{formulaValue.valueinvoke.args[0].valuenumber}}
                    <input type="number" step="1" placeholder="0.00" class="inputedit" style="display: none;" [(ngModel)]="formulaValue.valueinvoke.args[0].valuenumber" (change)="valueChanged()" (blur)="onBlurInput($event)">
                </div>
                <span>{{toMiddleSymbol(formulaValue.valueinvoke.functionname)}}</span> 
                <app-formula-draw *ngIf="formulaValue.valueinvoke.args[1].valueinvoke" [formulaValue]="formulaValue.valueinvoke.args[1]"></app-formula-draw>
                <div *ngIf="!formulaValue.valueinvoke.args[1].valueinvoke" class="param number-param no-highlight" draggable="true" (click)="onClickNode($event)" (drop)="onDrop($event, formulaValue.valueinvoke.args[1], formulaValue.valueinvoke.function.params[1])" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">{{formulaValue.valueinvoke.args[1].valuenumber}}
                    <input type="number" step="1" placeholder="0.00" class="inputedit" style="display: none;" [(ngModel)]="formulaValue.valueinvoke.args[1].valuenumber" (change)="valueChanged()" (blur)="onBlurInput($event)">
                </div>                
                <span class="remove-badge-container no-selectable hide" draggable="false" (click)="onClickRemove(formulaValue)"><i class="remove-icon no-selectable fas fa-trash-alt highligthed"></i></span>
            </div>
        </div>
        <div *ngSwitchCase="'internal'" [ngSwitch]="formulaValue.valueinvoke.functionname">
            <div *ngSwitchCase="'GetParamValue'" class="param number-param no-highlight" draggable="true" (drop)="onDrop($event, formulaValue)" (dragover)="onDragOver($event)" (dragstart)="onDrag($event, formulaValue)" (dragend)="onDragEnd($event, formulaValue)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">
                {{formulaValue.valueinvoke.args[0].valuestring}}
                <span class="remove-badge-container no-selectable hide" draggable="false" (click)="onClickRemove(formulaValue)"><i class="remove-icon no-selectable fas fa-trash-alt highligthed"></i></span>
            </div>
        </div>
        <div *ngSwitchCase="'helper'">
            <div class="param number-param no-highlight" draggable="true" (drop)="onDrop($event, formulaValue)" (dragover)="onDragOver($event)" (dragstart)="onDrag($event, formulaValue)" (dragend)="onDragEnd($event, formulaValue)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">
                {{formulaValue.valueinvoke.functionname}}
                <span class="remove-badge-container no-selectable hide" draggable="false" (click)="onClickRemove(formulaValue)"><i class="remove-icon no-selectable fas fa-trash-alt highligthed"></i></span>
            </div>
        </div>
        <div *ngSwitchCase="'generic'">
            <div [className]="'number-param param no-highlight'" draggable="true" (drop)="onDrop($event, formulaValue, {type: formulaValue.valueinvoke.function.result})" (dragover)="onDragOver($event)" (dragstart)="onDrag($event, formulaValue)" (dragend)="onDragEnd($event, formulaValue)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">
                {{formulaValue.valueinvoke.functionname}}
                <div *ngFor="let arg of formulaValue.valueinvoke.args; index as i;">
                    <app-formula-draw *ngIf="arg.valueinvoke" [formulaValue]="arg"></app-formula-draw>
                    <div *ngIf="!arg.valueinvoke" [className]="formulaValue.valueinvoke.function.params[i].type + '-param param no-highlight'" draggable="true" (click)="onClickNode($event)" (drop)="onDrop($event, arg, formulaValue.valueinvoke.function.params[i])" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" (mouseover)="onMouseEnter($event)">{{arg.valuenumber}}
                        <input type="number" step="1" placeholder="0.00" class="inputedit" style="display: none;" [(ngModel)]="arg.valuenumber" (change)="valueChanged()" (blur)="onBlurInput($event)">
                    </div>
                </div>
                <span class="remove-badge-container no-selectable hide" draggable="false" (click)="onClickRemove(formulaValue)"><i class="remove-icon no-selectable fas fa-trash-alt highligthed"></i></span>
            </div>
        </div>
        <div *ngSwitchDefault>
            <div class="param number-param no-highlight" draggable="true" (dragstart)="onDrag($event, formulaValue)" (dragend)="onDragEnd($event, formulaValue)">
                Formula {{formulaValue.valueinvoke.function.name}} no implementada
                <span class="remove-badge-container no-selectable hide" draggable="false" (click)="onClickRemove(formulaValue)"><i class="remove-icon no-selectable fas fa-trash-alt highligthed"></i></span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="formulaValue && formulaValue.valueinvoke == null">
    <div [ngSwitch]="formula.result">
        <div *ngSwitchCase="'number'">
            <div *ngIf="!formulaValue.valueinvoke" class="param number-param no-highlight" draggable="true" (click)="onClickNode($event)" (drop)="onDrop($event, formulaValue, {type: formula.result})" (dragover)="onDragOver($event)">{{formulaValue.valuenumber}}
                <input type="number" step="1" placeholder="0.00" class="inputedit" style="display: none;" [(ngModel)]="formulaValue.valuenumber" (change)="valueChanged()" (blur)="onBlurInput($event)">
            </div>
        </div>
        <div *ngSwitchCase="'boolean'">
            
        </div>
    </div>
</div>
