<div class="formula-create-container">
  <h1 *ngIf="isNew; else editFormulaTitle" class="page-title">
    Nueva fórmula
  </h1>

  <ng-template #editFormulaTitle>
    <h1 class="page-title">
      Editar Fórmula
    </h1>
  </ng-template>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content" id="contentTOPDF">

    <form [formGroup]="form">
      <mat-accordion>
        <mat-expansion-panel class="space-right" expanded>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Datos Básicos
            </mat-panel-title>
          </mat-expansion-panel-header>

            <div class="columns">
              <div class="column is-5">
                <mat-form-field class="width-100">
                  <input [appDisableControl]="!isNew" matInput type="text" formControlName="name" placeholder="Nombre" cdkFocusInitial autocomplete="off">
                  <mat-error *ngIf="form.get('name').errors && form.get('name').errors.required">El campo es obligatorio</mat-error>
                  <mat-error *ngIf="form.get('name').errors && form.get('name').errors.cannotContainSpace">El campo no puede contener espacios</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="columns">
              <div class="column is-9">
                <mat-form-field class="width-100">
                  <input [appDisableControl]="!isEditable" matInput type="text" formControlName="description" placeholder="Descripción" autocomplete="off">
                  <mat-error *ngIf="form.get('description').invalid">El campo es obligatorio</mat-error>
                </mat-form-field>
              </div>
            </div>

            <mat-expansion-panel class="no-shadow" [togglePosition]="'before'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Más Opciones
                </mat-panel-title>
              </mat-expansion-panel-header>

              <h2 class="subtitle">
                Parámetro de Salida
              </h2>
              <div class="children-container">
                <table style="width:100%">
                  <tr>
                    <mat-form-field class="selector">
                      <mat-label>Tipo Dato</mat-label>
                      <mat-select [appDisableControl]="!isEditable" [formControl]="form.get('result')" name="result" required>
                        <mat-option *ngFor="let option of typesOptions" [value]="option.value">
                          {{option.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </tr>
                </table>
              </div>

              <h2 class="subtitle">
                Parámetros de Entrada
              </h2>
              <div class="children-container">
                <table style="width:100%">
                  <tr formArrayName="params" *ngFor="let param of formParams.controls; let i = index">
                    <div class="formula-param-container" *ngIf="isFormulaParamAvailable(param)">
                      <button [disabled]="!isEditable" mat-icon-button class="actions-icon" color="warn" (click)="onDeleteInputParam($event, i)">
                        <mat-icon>delete_forever</mat-icon>
                      </button>
                      <div [formGroupName]="i">
                        <mat-form-field>
                          <mat-label>Tipo Dato</mat-label>
                          <mat-select [appDisableControl]="!isEditable" formControlName="type" required>
                            <mat-option *ngFor="let option of typesOptions" [value]="option.value">
                              {{option.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                          <input [appDisableControl]="!isEditable" matInput type="text" formControlName="name" placeholder="Nombre Parámetro" autocomplete="off">
                          <mat-error *ngIf="param.invalid">El campo es obligatorio</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </tr>
                </table>
              </div>
              <button [disabled]="!isEditable" class="table-row-manipulator" mat-raised-button (click)="onAddInputParamClick($event)">Agregar Item</button>
            </mat-expansion-panel>

        </mat-expansion-panel>

        <mat-expansion-panel class="formula-calculation-content">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fórmula
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="columns ide-columns">
            <div class="column" [ngClass]="{
              'is-5': isItemPickerExpanded,
              'is-1': !isItemPickerExpanded
              }">
              <app-formula-item-picker
                [currentFormulaInput]="currentFormula"
                (expandedStateEmitter)="onItemPickerExpandedStateChanged($event)">
              </app-formula-item-picker
              >
            </div>
            <div class="column"
              [ngClass]="{
                'is-7': isItemPickerExpanded,
                'is-11': !isItemPickerExpanded
              }">
              <div class="ide-container">
                <app-operators-toolbar></app-operators-toolbar>

                <app-formula-drop-space
                  *ngIf="showCanvas(); else message"
                  [isItemPickerExpanded]="isItemPickerExpanded"
                  [formulaValue]="currentCanvasFormulas"
                  [formulaIsEditable]="isEditable"
                  [formulaIsNew]="isNew">
                </app-formula-drop-space>
                <ng-template #message>
                  <p class="canvas-message">Esta es una fórmula interna de Xubio, no puedes modificarla ni visualizar su contenido. Puedes utilizarla para relacionarla en tus conceptos y para crear tu propia fórmula.</p>
                </ng-template>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </form>

  </div>

  <app-bottom-table-actions
   [isNew]="!currentFormula"
   [isSaveAllowed]="isEditable"
   (saveEmitter)="save()"
   (abortEmitter)="onCancelClick()">
  </app-bottom-table-actions>
</div>
