div.formula-create-container {
  margin: 1em;
  padding: 1em 1em 3em 1em;
  background-color: #ffffff;

  h1.page-title {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
  }

  .no-shadow {
    box-shadow: none;
  }

  mat-form-field {
    width: 100%;
  }

  mat-expansion-panel {
    h2.subtitle {
      font-size: 1.2rem;
    }

    &.formula-calculation-content {
      .bg-gray {
        background-color: #d3d3d3;
      }
    }
  }
}
