<div class="example-container">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      No se pudieron obtener datos. Por favor vuelva a intentar más tarde.
    </div>
  </div>


  <div class="topmenu-container" >
      <div>
        <button mat-raised-button color="primary" class="topmenu-button" mat-button [routerLink]="['/liquidaciones', 'nuevo']">Nuevo</button>
        <button mat-raised-button color="secondary" class="topmenu-button" mat-button (click)="printService.printTOPDF()">Imprimir</button>
        <button mat-raised-button color="secondary" class="topmenu-button" mat-button (click)="onClickContabilizar(dataSource.data)">Contabilizar</button>
        <button mat-raised-button color="secondary" class="topmenu-button" mat-button (click)="onClickDuplicar(dataSource.data)">Duplicar</button>
        <mat-form-field class="topmenu-search">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>
  </div>
  <div class="table-container" id="contentTOPDF">    
    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="Creado"
      matSortDirection="desc">

      <!-- Seleccionar -->
      <ng-container matColumnDef="Seleccionar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Seleccionar
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" class="example-margin" [(ngModel)]="row.checked"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Legajo -->
      <ng-container matColumnDef="Legajo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Legajo</th>
        <td mat-cell *matCellDef="let row">{{row.legajo.legajo}}</td>
      </ng-container>
 
      <!-- Apellido -->
      <ng-container matColumnDef="Apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
        <td mat-cell *matCellDef="let row">{{row.legajo.apellido}}</td>
      </ng-container>
      
      <!-- Nombre -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.legajo.nombre}}</td>
      </ng-container>

      <!-- Fecha Liquidacion -->
      <ng-container matColumnDef="Fecha Liquidacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Liquidación</th>
        <td mat-cell *matCellDef="let row">{{row.fecha | date}}</td>
      </ng-container>

      <!-- Periodo Liquidacion -->
      <ng-container matColumnDef="Periodo Liquidacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Periodo Liquidación</th>
        <td mat-cell *matCellDef="let row">{{row.fechaperiodoliquidacion | date}}</td>
      </ng-container>

      <!-- Tipo -->
      <ng-container matColumnDef="Tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
        <td mat-cell *matCellDef="let row">{{row.tipo.nombre}}</td>
      </ng-container>

      <!-- Total -->
      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row">{{calcularTotal(row)}}</td>
      </ng-container>

      <!-- Contabilizada -->
      <ng-container matColumnDef="Contabilizada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Contabilizada
        </th>
        <td mat-cell *matCellDef="let row">{{row.estacontabilizada?'Si':'No'}}</td>        
      </ng-container>
      
      <!-- Acciones -->
    <div data-html2canvas-ignore="true">
      <ng-container  matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <app-actions (update)="onUpdate($event)" (delete)="onDelete($event)" liquidacion={{row.ID}}></app-actions>
        </td>
      </ng-container>
    </div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div>
      <mat-paginator class="paginator-container" #paginator [pageSize]="10" [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
  </div>
  <!--<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>-->
</div>