<ng-container *ngIf="print$ | async as print; then imprimir; else default">
</ng-container>

<ng-template #default>
<div *ngIf="currentLiquidacion$ | async as data" class="liquidacion-container">
  <h1 *ngIf="data.ID">
    Modificar liquidacion <span>{{data.liquidacion}}</span>
  </h1>
  <h1 *ngIf="!data.ID">
    Nuevo liquidacion
  </h1>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content" id="contentTOPDF">
    <div>
      <app-selector-default nombre="legajo" [(matSelect)]="data.legajoid" (optionSelected)="data.legajo=$event">
      </app-selector-default>
      <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.zonatrabajo"
          placeholder="Zona de Trabajo" type="text" autocomplete="off"></mat-form-field>
    </div>
    <div>
      <app-selector-default nombre="liquidaciontipo" placeholder="Tipo" [(matSelect)]="data.tipoid"
        (optionSelected)="data.tipo=$event"></app-selector-default>
      <app-selector-default nombre="liquidacioncondicionpago" placeholder="Condición de Pago" [(matSelect)]="data.condicionpagoid"
        (optionSelected)="data.condicionpago=$event"></app-selector-default>
    </div>
    <div>
      <mat-form-field class="standard-input"><input matInput type="date" (ngModelChange)="data.fecha=$event"
          [ngModel]="data.fecha | date: 'yyyy-MM-dd'" placeholder="Fecha de Liquidacion" autocomplete="off">
      </mat-form-field>
      <app-selector-default nombre="banco" placeholder="Cuenta Bancaria" [(matSelect)]="data.cuentabancoid"
        (optionSelected)="data.banco=$event"></app-selector-default>
    </div>
    <div>
      <div>
        <mat-form-field class="standard-input"><input matInput type="date"
          (ngModelChange)="data.fechaultimodepositoaportejubilatorio=$event"
          [ngModel]="data.fechaultimodepositoaportejubilatorio | date: 'yyyy-MM-dd'"
          placeholder="Fecha Ult. Aporte Jubil." autocomplete="off"></mat-form-field>
        <app-selector-default nombre="banco" placeholder="Banco Aporte Jubilatorio" [(matSelect)]="data.bancoaportejubilatorioid"
          (optionSelected)="data.bancoaportejubilatorio=$event"></app-selector-default>
      </div>
      <div>
        <mat-form-field class="standard-input"><input required=true matInput type="month" placeholder="Periodo Depositado" [(ngModel)]="fechaperiododepositado" autocomplete="off"></mat-form-field>
      </div>
      <div>
        <mat-form-field class="standard-input"><input required=true matInput type="month" placeholder="Periodo Liquidación" [(ngModel)]="fechaperiodoliquidacion" autocomplete="off"></mat-form-field>
      </div>
      <div>
        <mat-form-field class="big-input"><input matInput [(ngModel)]="data.descripcion" placeholder="Observaciones"
            type="text" autocomplete="off"></mat-form-field>
      </div>
      <div>
        <button color="primary" mat-button (click)="onClickNovedades(data)">Novedades</button>
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Importes Remunerativos ({{childrenCounter(data.importesremunerativos)}})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="children-container">
            <table style="width:100%">
              <tr *ngFor="let importesremunerativos of data.importesremunerativos">
                <div *ngIf="(importesremunerativos.DeletedAt == null)">
                  <button mat-icon-button class="actions-icon" color="warn"
                    (click)="onClickDeleteChild(importesremunerativos, data.importesremunerativos)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <app-selector-default nombre="concepto" [(matSelect)]="importesremunerativos.conceptoid"
                    (optionSelected)="importesremunerativos.concepto=$event"></app-selector-default>
                  <mat-form-field class="children-input"><input matInput
                      [(ngModel)]="importesremunerativos.importeunitario" placeholder="Importe" type="number"
                      autocomplete="off"></mat-form-field>
                  <!--
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="importesremunerativos.total" placeholder="total" type="Number" autocomplete="off"></mat-form-field>
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="importesremunerativos.cantidad" placeholder="Cantidad" type="number" autocomplete="off"></mat-form-field>
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="importesremunerativos.porcentaje" placeholder="Porcentaje" type="number" autocomplete="off"></mat-form-field>
                          <app-selector-default nombre="concepto" [(matSelect)]="importesremunerativos.sobreconceptoid" (optionSelected)="importesremunerativos.sobreconcepto=$event" ></app-selector-default>
                          -->
                </div>
              </tr>
            </table>
          </div>
          <button style="margin-left: 17px;margin-bottom: 17px;" mat-raised-button
            (click)="onClickNewImportesremunerativos(data)">Agregar Item</button>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Importes No Remunerativos ({{childrenCounter(data.importesnoremunerativos)}})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="children-container">
            <table style="width:100%">
              <tr *ngFor="let importesnoremunerativos of data.importesnoremunerativos">
                <div *ngIf="(importesnoremunerativos.DeletedAt == null)">
                  <button mat-icon-button class="actions-icon" color="warn"
                    (click)="onClickDeleteChild(importesnoremunerativos, data.importesnoremunerativos)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <app-selector-default nombre="concepto" [(matSelect)]="importesnoremunerativos.conceptoid"
                    (optionSelected)="importesnoremunerativos.concepto=$event"></app-selector-default>
                  <mat-form-field class="children-input"><input matInput
                      [(ngModel)]="importesnoremunerativos.importeunitario" placeholder="Importe" type="number"
                      autocomplete="off"></mat-form-field>

                  <!--  
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="importesnoremunerativos.cantidad" placeholder="Cantidad" type="number" autocomplete="off"></mat-form-field>
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="importesnoremunerativos.porcentaje" placeholder="Porcentaje" type="number" autocomplete="off"></mat-form-field>
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="importesnoremunerativos.total" placeholder="total" type="Number" autocomplete="off"></mat-form-field>
                          <app-selector-default nombre="concepto" [(matSelect)]="importesnoremunerativos.sobreconceptoid" (optionSelected)="importesnoremunerativos.sobreconcepto=$event" ></app-selector-default>
                          -->
                </div>
              </tr>
            </table>
          </div>
          <button style="margin-left: 17px;margin-bottom: 17px;" mat-raised-button
            (click)="onClickNewImportesNoremunerativos(data)">Agregar Item</button>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Descuentos ({{childrenCounter(data.descuentos)}})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="children-container">
            <table style="width:100%">
              <tr *ngFor="let descuentos of data.descuentos">
                <div *ngIf="(descuentos.DeletedAt == null)">
                  <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(descuentos, data.descuentos)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <app-selector-default nombre="concepto" [(matSelect)]="descuentos.conceptoid"
                    (optionSelected)="descuentos.concepto=$event"></app-selector-default>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="descuentos.importeunitario"
                      placeholder="Importe" type="number" autocomplete="off"></mat-form-field>

                  <!--  
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="descuentos.cantidad" placeholder="Cantidad" type="number" autocomplete="off"></mat-form-field>
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="descuentos.porcentaje" placeholder="Porcentaje" type="number" autocomplete="off"></mat-form-field>
                          <app-selector-default nombre="concepto" [(matSelect)]="descuentos.sobreconceptoid" (optionSelected)="descuentos.sobreconcepto=$event" ></app-selector-default>
                          <mat-form-field class="children-input"><input matInput [(ngModel)]="descuentos.total" placeholder="total" type="Number" autocomplete="off"></mat-form-field>
                          -->

                </div>
              </tr>
            </table>
          </div>
          <button style="margin-left: 17px;margin-bottom: 17px;" mat-raised-button
            (click)="onClickNewDescuento(data)">Agregar Item</button>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Retenciones ({{childrenCounter(data.retenciones)}})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="children-container">
            <table style="width:100%">
              <tr *ngFor="let retenciones of data.retenciones">
                <div *ngIf="(retenciones.DeletedAt == null)">
                  <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(retenciones, data.retenciones)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <app-selector-default nombre="concepto" [(matSelect)]="retenciones.conceptoid"
                    (optionSelected)="retenciones.concepto=$event"></app-selector-default>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="retenciones.importeunitario"
                      placeholder="Importe" type="number" autocomplete="off"></mat-form-field>

                </div>
              </tr>
            </table>
          </div>
          <button style="margin-left: 17px;margin-bottom: 17px;" mat-raised-button
            (click)="onClickNewRetenciones(data)">Agregar Item</button>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Aportes Patronales ({{childrenCounter(data.aportespatronales)}})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="children-container">
            <table style="width:100%">
              <tr *ngFor="let aportespatronales of data.aportespatronales">
                <div *ngIf="(aportespatronales.DeletedAt == null)">
                  <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(aportespatronales, data.aportespatronales)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <app-selector-default nombre="concepto" [(matSelect)]="aportespatronales.conceptoid"
                    (optionSelected)="aportespatronales.concepto=$event"></app-selector-default>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="aportespatronales.importeunitario"
                      placeholder="Importe" type="number" autocomplete="off"></mat-form-field>

                </div>
              </tr>
            </table>
          </div>
          <button style="margin-left: 17px;margin-bottom: 17px;" mat-raised-button
            (click)="onClickNewAportespatronales(data)">Agregar Item</button>
        </mat-expansion-panel>
      </div>


      <mat-divider></mat-divider>
    </div>
    <div mat-dialog-actions class="actions">
      <button mat-raised-button color="primary" mat-button (click)="onClickSave(data)">Guardar</button>
      <button mat-raised-button mat-button color="secondary" (click)="onClickAbort()">Cerrar</button>
      <button mat-raised-button *ngIf=isNew(data) color="secondary" mat-button
        (click)="onClickPreview()">Imprimir</button>
    </div>
  </div>
</div>
</ng-template>

<ng-template #imprimir>
  <div *ngIf="currentLiquidacion$ | async as data" class="liquidacion-container">
    <app-liquidacion-print [liquidacion]="data"></app-liquidacion-print>
    <div mat-dialog-actions class="actions">
      <button mat-raised-button mat-button (click)="onClickId()">Cerrar</button>
      <button mat-raised-button color="primary" mat-button (click)="onClickPrint()">Descargar</button>
    </div>
  </div>
</ng-template>