<div class="example-container">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      No se pudieron obtener datos. Por favor vuelva a intentar más tarde.
    </div>
  </div>

  
  <div class="topmenu-container" >
    <div>
      <mat-form-field class="standard-input"><input matInput type="month" (focusout)="changePeriodo($event)" placeholder="Periodo mensual" [(ngModel)]="periodo" autocomplete="off"></mat-form-field>
      <mat-form-field class="standard-input"><input matInput type="number" placeholder="Importe a detraer Ley 27430" [(ngModel)]="importedetraccion" autocomplete="off"></mat-form-field>
    </div>
      <div>
        <button mat-button color="secondary" class="topmenu-button" (click)="printService.printTOPDF()">Imprimir</button>
        <button mat-button color="secondary" class="topmenu-button" (click)="exportarTXT()">Exportar TXT</button>
        <mat-form-field class="topmenu-search">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
          </mat-form-field>
      </div>
  </div>
  <div class="table-container">   
    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="Creado" matSortDisableClear
      matSortDirection="desc"  id="contentTOPDF">
      <!-- Number Column -->

      <!-- State Column Legajo-->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
      </ng-container>

        <!-- State Column Importe-->
      <ng-container matColumnDef="Importe">
          <th mat-header-cell *matHeaderCellDef>Importe</th>
          <td mat-cell *matCellDef="let row">{{row.importe}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<div>
  <mat-paginator class="paginator-container" #paginator [pageSize]="10" [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
</div>

  <!--<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>-->
</div>