.selector {
    width: 400px;
    height: 60px;
    margin-right: 15px;
}

.small-selector {
    width: 100px;
    height: 60px;
    margin-right: 15px;
}
/*
label {
    display: none;
}

::ng-deep.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
    display: none !important; 
}

::ng-deep.mat-form-field-infix {
    border-top: 0em solid transparent;
}*/