.liquidacion-container {
    margin: 1em;
    padding: 1em 1em 3em 1em;
    background-color: #ffffff;
}

.actions {
    float: right;
}

.actions button {
    margin-right: 8px;
}

#contentTOPDF {
    width: 1000px;
    padding-right: 50px;
    padding-left: 50px;
}