.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav-menu {
  width: 200px;
  background: #16627e;
}

.vp-logo {
  /* width: 200px; */
  /* height: 60px; */
  padding: 10px 20px;
  background: #24627e;
}