<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav-menu" mode="side" [(opened)]="menuOpened">
        <div name="logo" style="height: 130px;">
            <img src="https://server6.xubio.com/styles/img/logo_xubio_footer.png" class="vp-logo">
        </div>
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-loading></app-loading>
        <app-header id="toolbar"></app-header>
        <app-main></app-main>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
