@import '../../../../styles/variables.scss';

div.formula-item-picker-container {
  padding: 1rem;    
  div.item-picker {
    margin-bottom: 2rem;
    div.category-box {

      &.active {
        background-color: #fff;
      }

      div.category-name-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        p.category-name {
          writing-mode: tb;
          transform: rotate(180deg);
          font-weight: bold;
          font-size: 0.7rem;
          letter-spacing: 0.7px;
          margin: 0;
        }
      }

      div.items-column {
        div.items-box-container {
          height: 100%;
  
          div.category-item-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;

            img.item-icon {
              width: 2rem;
              margin-left: 0.3rem;
            }
    
            p.item-name {
              margin-left: 0.6rem;
              color: $GRAY_REGULAR;
              font-size: 0.7rem;
              line-height: 11px;
            }

            &.active {
              border: 2px solid $ACTIVE;
              border-right: none;
              
              p.item-name {
                color: #000;
              }

              // Hides the right border of the selected item.
              &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -2px;
                color: #fff;
                height: 100%;
                width: 2px;
                background: #fff;
                border-right: 1px white;
              }
            }
          }
        }
      }
    }

    div.items-toolbar-container {
      background-color: #fff;
      border: 2px solid $ACTIVE;
      padding: 1rem;

      div.search-bar-container {
        div.search-content {
          display: flex;
          border-radius: 4px;
  
          input {
            height: 1.5rem;
            margin: 0;
            padding-left: 0.5rem;
            flex: 8;
            border: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
  
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: $GRAY_REGULAR;
              opacity: 1; /* Firefox */
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $GRAY_REGULAR;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
              color: $GRAY_REGULAR;
            }
          }
  
          div.search-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            cursor: pointer;
  
            mat-icon {
              color: gray
            }
  
            &:active {
              mat-icon {
                transform: scale(0.8);
                transition: all ease 0.2s;
              }
            }
          }
        }
      }

      div.toolbox {
        min-height: 15rem;
        max-height: 15rem;
        overflow-y: scroll;
        overflow-x: auto;
        font-size: 0.7rem;

        div.selectable-badges-container {
          .selectable-badge {
            background: $ACTIVE;
            color: #fff;
            border-radius: 10px;
            max-width: fit-content;
            padding: 0 9px;
          }
        }
      }
    }
  }

  div.collapse-badge-container {
    cursor: pointer;
    div.badge {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.7rem;
    }
  }
}