<div class="formula-item-picker-container">
  <div class="flex-container">
    <div class="item-picker">
      <div class="columns">
        <div class="column">
          <div class="category-box">
            <div class="columns">
              <div class="column is-1">
                <div class="category-name-container">
                  <p class="category-name">Elementos</p>
                </div>
              </div>
              <div class="column is-11 items-column">
                <div class="items-box-container">
                  <div class="category-item-container">
                    <img src="assets/img/descarga.jpg" alt="item-icon" class="item-icon">
                    <p class="item-name">Variables</p>
                  </div>
                  <div class="category-item-container">
                    <img src="assets/img/descarga.jpg" alt="item-icon" class="item-icon">
                    <p class="item-name">Conceptos en la liquidación</p>
                  </div>
                  <div class="category-item-container">
                    <img src="assets/img/descarga.jpg" alt="item-icon" class="item-icon">
                    <p class="item-name">Parámetros de entrada</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="category-box">
            <div class="columns">
              <div class="column is-1">
                <div class="category-name-container">
                  <p class="category-name">Fórmulas</p>
                </div>
              </div>
              <div class="column is-11 items-column">
                <div class="items-box-container">
                  <div class="category-item-container">
                    <img src="assets/img/descarga.jpg" alt="item-icon" class="item-icon">
                    <p class="item-name">Fórmulas estandar</p>
                  </div>
                  <div class="category-item-container">
                    <img src="assets/img/descarga.jpg" alt="item-icon" class="item-icon">
                    <p class="item-name">Mis fórmulas</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="items-toolbar-container">
            <div class="search-bar-container">
              <div class="search-content border-regular">
                <input type="text" (keyup)="doFilter($event)" placeholder="Buscar...">
                <div class="search-icon bg-gray no-selectable">
                  <mat-icon>search</mat-icon>
                </div>
              </div>
            </div>

            <div class="toolbox custom-vertical-scroll">
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
              <p>asd</p>
            </div>
      
          </div>
        </div>
      </div>
    </div>
    <div class="collapse-badge-container" (click)="onExpandClick()">
      Plegar
    </div>
  </div>
</div>
