<div class="formula-item-picker-container">
  <div class="flex-container">
    <div class="item-picker">
      <div class="columns">
        <div class="column">
          <div class="category-box">
            <div class="columns">
              <div class="column is-4">
                is 4
              </div>
              <div class="column is-8">
                is 8
              </div>
            </div>
          </div>
          <div class="category-box">
            <div class="columns">
              <div class="column is-4">
                is 4
              </div>
              <div class="column is-8">
                is 8
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          asdsad
        </div>
      </div>
    </div>
    <div class="collapse-badge-container" (click)="onExpandClick()">
      Plegar
    </div>
  </div>
</div>
