<div class="formula-item-picker-container bg-gray">
  <div class="item-picker">
    <div class="columns is-gapless is-mobile">
      <div class="column">
        <div class="category-box" 
          *ngFor="let category of categories"
          [ngClass]="{
            'active': (selectedCategoryItem?.categoryId === category.id) && isExpanded
          }">
          <div class="columns is-gapless is-mobile">
            <div *ngIf="isExpanded" class="column is-3">
              <div class="category-name-container border-light">
                <p class="category-name no-selectable">{{ category.title }}</p>
              </div>
            </div>
            <div class="column items-column" 
              [ngClass]="{
                'is-9': isExpanded
              }">
              <div class="items-box-container">
                <div 
                  class="category-item-container border-light"
                  *ngFor="let item of category.items"
                  [ngClass]="{
                    'active': (selectedCategoryItem?.id === item.id) && isExpanded,
                    'centered': !isExpanded
                  }"
                  (click)="onCategoryItemClick(item)"
                  [matTooltip]="!isExpanded ? item.title : null"
                  matTooltipPosition="above"
                  matTooltipClass="baloon">
                  <img [src]="selectedCategoryItem?.id === item.id ? item.imgActive : item.img" alt="item-icon" class="item-icon">
                  <p *ngIf="isExpanded" class="item-name no-selectable">{{ item.title }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column"
        *ngIf="isExpanded">
        <div class="items-toolbar-container">
          <div *ngIf="isSearchItemSelected(selectedCategoryItem)" class="search-bar-container">
            <div class="columns is-gapless search-content border-regular">
              <div class="column is-10">
                <input type="text" [(ngModel)]="searchInput" (ngModelChange)="doFilter()" placeholder="Buscar...">
              </div>
              <div class="column">
                <div class="search-icon bg-gray no-selectable">
                  <mat-icon>search</mat-icon>
                </div>  
              </div>
            </div>
          </div>

          <div class="toolbox custom-vertical-scroll">
            <div *ngIf="selectedCategoryItem" class="selectable-badges-container">

              <div class="search-results-container">
                <div *ngIf="selectedCategoryItem.slug === 'search'">
                  <div
                    *ngFor="let item of searchResult; index as index" 
                    class="pickable-badge no-selectable param numeric-param"
                    [id]="'pickable-item-' + index + 1"
                    [attr.data-type]="getOperatorDefaultType()"
                    [attr.data-data]="getFormulaTransferData(item, 'pickable-item-' + index + 1) | json"
                    draggable="true"
                    (dragstart)="onDragStart($event, getParamInsideSearch(item))"
                    [matTooltip]="item?.description"
                    matTooltipPosition="above"
                    matTooltipClass="baloon">
                      {{ item.name || item.nombre }}
                  </div>
                </div>
              </div>

              <div *ngIf="selectedCategoryItem.slug === 'variables'">
                <div
                  *ngFor="let formula of variables; index as index" 
                  class="pickable-badge no-selectable param numeric-param"
                  [id]="'variable-' + index + 1"
                  [attr.data-type]="getOperatorDefaultType()"
                  [attr.data-data]="getFormulaTransferData(formula, 'variable-' + index + 1) | json"
                  draggable="true"
                  (dragstart)="onDragStart($event, formula)"
                  [matTooltip]="formula?.description"
                  matTooltipPosition="above"
                  matTooltipClass="baloon">
                    {{ formula.name }}
                </div>
              </div>

              <div *ngIf="selectedCategoryItem.slug === 'concept'">
                <div 
                  *ngFor="let concept of concepts; index as index" 
                  class="pickable-badge no-selectable param numeric-param"
                  [id]="'concept-' + index + 1"
                  [attr.data-type]="getOperatorDefaultType()"
                  [attr.data-data]="getFormulaTransferData(concept, 'concept-' + index + 1) | json"
                  draggable="true"
                  (dragstart)="onDragStart($event, getConceptParam(concept))"
                  [matTooltip]="null"
                  matTooltipPosition="above"
                  matTooltipClass="baloon">
                    {{ concept.nombre }}
                </div>
              </div>

              <div *ngIf="selectedCategoryItem.slug === 'input-params'">
                <div 
                  *ngFor="let param of inputParams; index as index" 
                  class="pickable-badge no-selectable param numeric-param"
                  [id]="'param-' + index + 1"
                  [attr.data-type]="getOperatorDefaultType()"
                  [attr.data-data]="getFormulaTransferData(param, 'param-' + index + 1) | json"
                  draggable="true"
                  (dragstart)="onDragStart($event, getFormulaParam(param))"
                  [matTooltip]="null"
                  matTooltipPosition="above"
                  matTooltipClass="baloon">
                    {{ param.name }}
                </div>
              </div>

              <div *ngIf="selectedCategoryItem.slug === 'standard-formulas'">
                <div 
                  *ngFor="let formula of standardFormulas; index as index" 
                  class="pickable-badge no-selectable param numeric-param"
                  [id]="'standard-formula-' + index + 1"
                  [attr.data-type]="getOperatorDefaultType()"
                  [attr.data-data]="getFormulaTransferData(formula, 'standard-formula-' + index + 1) | json"
                  draggable="true"
                  (dragstart)="onDragStart($event, formula)"
                  [matTooltip]="formula?.description"
                  matTooltipPosition="above"
                  matTooltipClass="baloon">
                    {{ formula.name }}
                </div>
              </div>

              <div *ngIf="selectedCategoryItem.slug === 'user-formulas'">
                <div 
                  *ngFor="let formula of userFormulas; index as index" 
                  class="pickable-badge no-selectable param numeric-param"
                  [id]="'user-formula-' + index + 1"
                  [attr.data-type]="getOperatorDefaultType()"
                  [attr.data-data]="getFormulaTransferData(formula, 'user-formula-' + index + 1) | json"
                  draggable="true"
                  (dragstart)="onDragStart($event, formula)"
                  [matTooltip]="formula?.description"
                  matTooltipPosition="above"
                  matTooltipClass="baloon">
                    {{ formula.name }}
                </div>
              </div>

            </div>
          </div>
    
        </div>
      </div>
    </div>
  </div>
  <div class="collapse-badge-container" (click)="onExpandClick()">
    <div *ngIf="isExpanded; else expand" class="badge">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Plegar
    </div>
    <ng-template #expand>
      <div class="badge">
        Abrir
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </ng-template>
  </div>
</div>
