<h1 mat-dialog-title class="titulo-traslado">Incluir legajo <span *ngIf="data.numeroLegajo">Nro. {{data.numeroLegajo}}</span></h1>
<div mat-dialog-content class="content">
    
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.Legajo" placeholder="Número de Legajo" cdkFocusInitial></mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.CreatedAt" placeholder="Creado"></mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.Nombre" placeholder="Nombre"></mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.Apellido" placeholder="Apellido"></mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.Cbu" placeholder="CBU"></mat-form-field>

</div>
<div mat-dialog-actions class="actions">
    <button mat-button class="boton-dialog cancelar" (click)="onNoClick()">Cancelar</button>
    <button mat-button class="boton" [mat-dialog-close]="data" (click)="onClickSave()">Guardar</button>
</div>