<div *ngIf="currentLegajo$ | async as data" class="legajo-container">
  <h1 *ngIf="data.ID">
    Modificar legajo <span>{{data.legajo}}</span>
  </h1>
  <h1 *ngIf="!data.ID">
    Nuevo legajo
  </h1>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content" id="contentTOPDF">

      <mat-accordion>
      <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
                Datos Personales
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field class="standard-input"><input matInput required [(ngModel)]="data.legajo" placeholder="Número de Legajo" cdkFocusInitial type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="standard-input"><input matInput required [(ngModel)]="data.cuil" placeholder="CUIL" type="text" autocomplete="off"></mat-form-field>
            </div>
            <div>
                <mat-form-field class="standard-input"><input matInput required [(ngModel)]="data.apellido" placeholder="Apellido" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="standard-input"><input matInput required [(ngModel)]="data.nombre" placeholder="Nombre" type="text" autocomplete="off"></mat-form-field>    
            </div>
            <div>
                <mat-form-field class="big-input"><input matInput [(ngModel)]="data.direccion" type="text" autocomplete="off" placeholder="Domicilio"></mat-form-field>
            </div>
            <br/>
            <div>
                <app-selector-default nombre="pais" [(matSelect)]="data.paisid" required=true (optionSelected)="data.pais=$event" ></app-selector-default>
                <app-selector-default nombre="provincia" (click)="onClickRefreshLocalidad(data.provinciaid)" [(matSelect)]="data.provinciaid" required=true (optionSelected)="data.provincia=$event"></app-selector-default>
            </div>
            <div>
                <app-selector-default nombre="localidad" [(matSelect)]="data.localidadid" filter="provinciaid={{data.provinciaid}}" required=true (optionSelected)="data.localidad=$event"></app-selector-default>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.codigo" placeholder="Código Postal" type="text" autocomplete="off"></mat-form-field>
            </div>
            <div>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.telefono" placeholder="Telefono" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.email" placeholder="E-Mail" type="text" autocomplete="off"></mat-form-field>
            </div>   
            <div>
                <mat-form-field class="big-input"><input matInput [(ngModel)]="data.descripcion" placeholder="Observaciones" type="text" autocomplete="off"></mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Datos Laborales
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <app-selector-default nombre="situacion" [(matSelect)]="data.situacionid" (optionSelected)="data.situacion=$event" ></app-selector-default>
                <app-selector-default nombre="condicion" [(matSelect)]="data.condicionid" (optionSelected)="data.condicion=$event" ></app-selector-default>            
            </div>
            <div>
                <app-selector-default nombre="modalidadcontratacion" [(matSelect)]="data.modalidadcontratacionid" required=true (optionSelected)="data.modalidadcontratacion=$event"></app-selector-default>
                <app-selector-default nombre="obrasocial" [(matSelect)]="data.obrasocialid" required=true (optionSelected)="data.obrasocial=$event" ></app-selector-default>
            </div>
            <div>
                <app-selector-default nombre="condicionsiniestrado" [(matSelect)]="data.condicionsiniestradoid" required=true (optionSelected)="data.condicionsiniestrado=$event" ></app-selector-default>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.valorfijolrt" placeholder="Valor Fijo LRT" type="number" autocomplete="off"></mat-form-field>
            </div>
            <div>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.remuneracion" placeholder="Remuneración" type="number" autocomplete="off"></mat-form-field>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.horasmensualesnormales" required placeholder="Horas mensuales normales" type="text" autocomplete="off"></mat-form-field>            
            </div>
                <app-selector-default nombre="conveniocolectivo" [(matSelect)]="data.conveniocolectivoid" required=true (optionSelected)="data.conveniocolectivo=$event" ></app-selector-default>
                <app-selector-default nombre="centrodecosto" [(matSelect)]="data.centrodecostoid" (optionSelected)="data.centrodecosto=$event" ></app-selector-default>        
            <div>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.categoria" required placeholder="Categoria" type="text" autocomplete="off"></mat-form-field>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.tarea" required placeholder="Tarea" type="text" autocomplete="off"></mat-form-field>    
            </div>
            <div>
                <mat-form-field class="standard-input"><input matInput type="date" (ngModelChange)="data.fechaalta=$event" [ngModel]="data.fechaalta | date: 'yyyy-MM-dd'" placeholder="Fecha de alta" autocomplete="off"></mat-form-field>
                <mat-form-field class="standard-input"><input matInput type="date" (ngModelChange)="data.fechabaja=$event" [ngModel]="data.fechabaja | date: 'yyyy-MM-dd'" placeholder="Fecha de baja" autocomplete="off"></mat-form-field>
            </div>
            <div>
                <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.cbu" placeholder="CBU" type="text" autocomplete="off"></mat-form-field>
            </div>                  
      </mat-expansion-panel>   

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Datos Familiares
          </mat-panel-title>
        </mat-expansion-panel-header>

          
          <h2>Conyuge</h2>
          <div class="children-container">
            <table style="width:100%">
              <tr *ngFor="let conyuge of data.conyuge">
                <div *ngIf="(conyuge.DeletedAt == null)">
                  <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(conyuge)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="conyuge.nombre" placeholder="Nombre" type="text" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="conyuge.apellido" placeholder="Apellido" type="text" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="conyuge.cuil" placeholder="Cuil" type="text" autocomplete="off"></mat-form-field>
                  <mat-form-field class="children-input"><input matInput [(ngModel)]="conyuge.descripcion" placeholder="Descripcion" type="text" autocomplete="off"></mat-form-field>
                  <app-selector-default nombre="obrasocial" [(matSelect)]="conyuge.obrasocialid" (optionSelected)="conyuge.obrasocial=$event" ></app-selector-default>
                </div>
              </tr>
            </table>
          </div>          
            <button  *ngIf="(data.conyuge == null || (data.conyuge.length == 0) || (data.conyuge[0].DeletedAt != null && data.conyuge.length == 1))"
             style="margin-left: 17px;margin-bottom: 17px;" mat-raised-button (click)="onClickNewConyuge(data)">Agregar Item</button>          
          <mat-divider></mat-divider>

          <h2>Hijos</h2>
          <div class="children-container">
            <table style="width:100%">
                <tr *ngFor="let hijo of data.hijos">
                  <div *ngIf="(hijo.DeletedAt == null)">
                    <button mat-icon-button class="actions-icon" color="warn" (click)="onClickDeleteChild(hijo)">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                    <mat-form-field class="children-input"><input matInput [(ngModel)]="hijo.nombre" placeholder="Nombre" type="text" autocomplete="off"></mat-form-field>
                    <mat-form-field class="children-input"><input matInput [(ngModel)]="hijo.apellido" placeholder="Apellido" type="text" autocomplete="off"></mat-form-field>
                    <mat-form-field class="children-input"><input matInput [(ngModel)]="hijo.cuil" placeholder="Cuil" type="text" autocomplete="off"></mat-form-field>
                    <mat-form-field class="children-input"><input matInput [(ngModel)]="hijo.descripcion" placeholder="Descripcion" type="text" autocomplete="off"></mat-form-field>
                    <app-selector-default nombre="obrasocial" [(matSelect)]="hijo.obrasocialid" (optionSelected)="hijo.obrasocial=$event" ></app-selector-default>
                  </div>
                </tr>
            </table>
          </div>
            <button  style="margin-left: 17px;" mat-raised-button (click)="onClickNewHijo(data)">Agregar Item</button>
          
       </mat-expansion-panel>
    
    </mat-accordion>
    <mat-divider></mat-divider>

  </div>

  <div mat-dialog-actions class="actions">
      <button mat-raised-button color="primary" mat-button (click)="onClickSave(data)">Guardar</button>
    <button mat-raised-button mat-button color="secondary"  (click)="onClickAbort()">Cerrar</button>
    <button *ngIf=isNew(data) mat-raised-button color="secondary" mat-button (click)="printService.printTOPDF()">Imprimir</button>
  </div>
</div>