<div *ngIf="currentConcepto$ | async as data" class="concepto-container">
  <h1 *ngIf="data.ID">
    Modificar concepto <span>{{data.concepto}}</span>
  </h1>
  <h1 *ngIf="!data.ID">
    Nuevo concepto
  </h1>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content" id="contentTOPDF">
    <div>
      <mat-form-field class="standard-input"><input [disabled]=isDefault(data)
        matInput required [(ngModel)]="data.nombre" placeholder="Nombre" type="text" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="standard-input"><input [disabled]=isDefault(data) 
        matInput [(ngModel)]="data.codigo" placeholder="Código" type="text" autocomplete="off">
      </mat-form-field>
    </div>
    <div>
      <app-selector-default nombre="cuenta" [disabled]=isDefault(data) required=true [(matSelect)]="data.cuentacontableid"
      (optionSelected)="data.cuentacontableid=$event.ID"></app-selector-default>
      <app-selector-default nombre="tipoconcepto" [disabled]=isDefault(data) required=true [(matSelect)]="data.tipoconceptoid"
      (optionSelected)="data.tipoconceptoid=$event.ID"></app-selector-default> 
    </div>
    <div>
      <mat-form-field class="standard-input">
        <input [disabled]=isDefault(data) matInput [(ngModel)]="data.descripcion" placeholder="Descripción" type="text" autocomplete="off">
      </mat-form-field>
      <mat-checkbox color="primary" class="example-margin"  [(ngModel)]="data.esnovedad">Es Novedad</mat-checkbox>
    </div>
    <div>
      <mat-checkbox color="primary" class="example-margin"  [(ngModel)]="data.esimprimible">Es Imprimible</mat-checkbox>
    </div>
    <br/>    
    <mat-divider></mat-divider>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button color="primary" mat-button *ngIf=!isDefault(data)
      (click)="onClickSave(data)">Guardar</button>
    <button mat-raised-button mat-button color="secondary" (click)="onClickAbort()">Cerrar</button>
    <button *ngIf=isNew(data) mat-raised-button color="secondary" mat-button
      (click)="printService.printTOPDF()">Imprimir</button>
  </div>
</div>