<div *ngIf="currentConcepto$ | async as data" class="concepto-container">
  <h1 *ngIf="data.ID">
    Modificar concepto <span>{{data.concepto}}</span>
  </h1>
  <h1 *ngIf="!data.ID">
    Nuevo concepto
  </h1>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content" id="contentTOPDF">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Datos Básicos</mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <mat-form-field class="standard-input"><input [disabled]=isDefault(data)
            matInput required [(ngModel)]="data.nombre" placeholder="Nombre" type="text" autocomplete="off" maxlength="50">
          </mat-form-field>
          <mat-form-field class="standard-input"><input [disabled]=isDefault(data) 
            matInput [(ngModel)]="data.codigo" placeholder="Código" type="text" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <app-selector-default nombre="cuenta" [disabled]=isDefault(data) required=true [(matSelect)]="data.cuentacontableid"
          (optionSelected)="data.cuentacontableid=$event.ID"></app-selector-default>
          <app-selector-default nombre="tipoconcepto" [disabled]=isDefault(data) required=true [(matSelect)]="data.tipoconceptoid"
          (optionSelected)="data.tipoconceptoid=$event.ID;data.tipoconcepto=$event"></app-selector-default>
        </div>
        <div>
          <mat-form-field class="standard-input">
            <input [disabled]=isDefault(data) matInput [(ngModel)]="data.descripcion" placeholder="Descripción" type="text" autocomplete="off">
          </mat-form-field>
        </div>
        <div style="margin: 15px 0px;">
          <mat-checkbox [disabled]=isDefault(data) color="primary" class="example-margin"  [(ngModel)]="data.esnovedad">Es Novedad</mat-checkbox>
        </div>
        <div style="margin: 15px 0px;">
          <mat-checkbox [disabled]=isDefault(data) color="primary" class="example-margin"  [(ngModel)]="data.esimprimible">Es Imprimible</mat-checkbox>
        </div>

        <div style="margin: 15px 0px;">
          <mat-checkbox [disabled]=isDefault(data) color="primary" class="example-margin"  [(ngModel)]="data.esremvariable" matTooltip="Tildá esta opción si la remuneración es variable a efectos de los cálculos de la Ley de Contrato de Trabajo">Es Remuneracion Variable</mat-checkbox>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Cálculo Automático</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-radio-group [color]="'primary'" [(ngModel)]="data.tipocalculoautomatico.codigo" (ngModelChange)="onAutomaticCalcGroupSelected(data)">

          <div class="columns">
            <div class="column is-2">
              <mat-radio-button class="example-radio-button" [value]="'NO_APLICA'">
                No Aplica
              </mat-radio-button>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="columns">
            <div class="column is-2">
              <mat-radio-button class="example-radio-button" [value]="'PORCENTAJE'" >
                Porcentajes
              </mat-radio-button>
            </div>
            <div class="column">
              <mat-form-field class="standard-input" style="width: 100px;">
                <input [disabled]="isDefault(data) || data.tipocalculoautomatico.codigo !== 'PORCENTAJE'" matInput [(ngModel)]="data.porcentaje" placeholder="Porcentaje" type="number" autocomplete="off">
              </mat-form-field>
              <span style="margin: 0px 10px; color: #808080;">Aplicable sobre </span>
              <app-selector-default nombre="tipodecalculo" [disabled]="isDefault(data) || data.tipocalculoautomatico.codigo !== 'PORCENTAJE'" required=false [(matSelect)]="data.tipodecalculoid"
                (optionSelected)="data.tipodecalculoid=$event.ID; data.tipoconcepto.codigo=$event.codigo">
              </app-selector-default> 
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="columns">
            <div class="column is-2">
              <mat-radio-button class="example-radio-button" [value]="'FORMULA'">
                Fórmulas
              </mat-radio-button>
            </div>
            <div class="column">
                <app-selector-default *ngIf="isDefault(data)" filter="tipoformulas=sistema" nombre="function" [disabled]="isDefault(data) || data.tipocalculoautomatico.codigo !== 'FORMULA'" required=false [(matSelect)]="data.formulanombre"
                (optionSelected)="data.formulanombre=$event.ID; data.formula.name=$event.codigo">
              </app-selector-default> 
              <app-selector-default *ngIf="!isDefault(data)" filter="tipoformulas=usuario" nombre="function" [disabled]="isDefault(data) || data.tipocalculoautomatico.codigo !== 'FORMULA'" required=false [(matSelect)]="data.formulanombre"
                (optionSelected)="data.formulanombre=$event.ID; data.formula.name=$event.codigo">
              </app-selector-default>
            </div>

          </div>       

          </mat-radio-group>         
       
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Impuesto a las Ganancias</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <app-selector-default #tipoimpuestosganancias nombre="tipoimpuestosganancias" [filter]="getFilterTipoimpuestosganancias(data)" [(matSelect)]="data.tipoimpuestogananciasid"
          (optionSelected)="data.tipoimpuestogananciasid=$event.ID" (change)="changeHandler(data, tipoimpuestosganancias)" [disabled]=isDefault(data)></app-selector-default> 
          <div *ngIf="data && data.tipoconcepto && data.tipoconcepto.codigo != 'RETENCION'">
            <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="data.prorrateo" (optionSelected)="data.prorrateo=$event.nombre.toLowerCase() == 'si'" placeholder="Prorrateo" autocomplete="off" [required]="data.tipoimpuestogananciasid != null" [disabled]=isDefault(data)></app-selector-default>
            <app-selector-default type="hardcode" nombre="si/no" [(matSelect)]="data.basesac" (optionSelected)="data.basesac=$event.nombre.toLowerCase() == 'si'" placeholder="Base del SAC" autocomplete="off" [required]="data.tipoimpuestogananciasid != null" [disabled]=isDefault(data)></app-selector-default>
          </div>
        </div>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Libros Sueldos Digital AFIP</mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <app-selector-default #conceptoafip nombre="conceptoafip" [filter]="getFilterTipoimpuestosganancias(data)" [disabled]=isDefault(data) [(matSelect)]="data.conceptoafipid"
          (optionSelected)="data.conceptoafipid=$event.ID"></app-selector-default> 
        </div>
     
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button color="primary" mat-button *ngIf=!isDefault(data)
      (click)="onClickSave(data)" [disabled]="estaGuardandose">Guardar</button>
    <button mat-raised-button mat-button color="secondary" (click)="onClickAbort()">Cerrar</button>
    <button *ngIf=isNew(data) mat-raised-button color="secondary" mat-button
      (click)="printService.printTOPDF()">Imprimir</button>
  </div>
</div>