<div *ngIf="currentNovedad$ | async as data" class="novedad-container">
  <h1 *ngIf="data.ID">
    Modificar novedad <span>{{data.novedad}}</span>
  </h1>
  <h1 *ngIf="!data.ID">
    Nuevo novedad
  </h1>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content" id="contentTOPDF">
      <mat-form-field class="standard-input"><input matInput type="date" required (ngModelChange)="data.fecha=$event" [ngModel]="data.fecha | date: 'yyyy-MM-dd'" placeholder="Fecha" autocomplete="off"></mat-form-field>
      <app-selector-default nombre="legajo" [(matSelect)]="data.legajoid" required=true (optionSelected)="data.legajo=$event"></app-selector-default>
      <app-selector-default nombre="concepto" filter="solonovedades=true" [(matSelect)]="data.conceptoid" required=true (optionSelected)="data.concepto=$event"></app-selector-default>
      <mat-form-field class="standard-input"><input matInput type="number"  [(ngModel)]="data.cantidad" [required]="tieneFormula(data.concepto)" placeholder="Cantidad" autocomplete="off" ></mat-form-field>
      <mat-form-field class="standard-input"><input matInput type="number" [(ngModel)]="data.importe" [required]="!tieneFormula(data.concepto)" placeholder="Importe Total" [disabled]="tieneFormula(data.concepto)" autocomplete="off"></mat-form-field>
     
      <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.descripcion" placeholder="Descripción"  type="text" autocomplete="off"></mat-form-field>
  

    <mat-divider></mat-divider>
  </div>
  <div mat-dialog-actions class="actions">
      <button mat-raised-button color="primary" mat-button (click)="onClickSave(data)" [disabled]="estaGuardandose">Guardar</button>
    <button mat-raised-button mat-button color="secondary"  (click)="onClickAbort()">Cerrar</button>
    <button mat-raised-button *ngIf=isNew(data) color="secondary" mat-button (click)="printService.printTOPDF()">Imprimir</button>
  </div>
</div>
