<div *ngIf="currentNovedad$ | async as data" class="novedad-container">
  <h1 *ngIf="data.ID">
    Modificar novedad <span>{{data.novedad}}</span>
  </h1>
  <h1 *ngIf="!data.ID">
    Nuevo novedad
  </h1>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content" id="contentTOPDF">
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.nombre" placeholder="Nombre"  autocomplete="off"></mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.codigo" placeholder="Código"  type="text" autocomplete="off"></mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.descripcion" placeholder="Descripción"  type="text" autocomplete="off"></mat-form-field>
    <mat-form-field class="standard-input"><input matInput type="number" [(ngModel)]="data.importe" placeholder="Importe" autocomplete="off"></mat-form-field>
    <mat-form-field class="standard-input"><input matInput type="number" [(ngModel)]="data.cantidad" placeholder="Cantidad" autocomplete="off"></mat-form-field>
    <mat-form-field class="standard-input"><input matInput type="date" (ngModelChange)="data.fecha=$event" [ngModel]="data.fecha | date: 'yyyy-MM-dd'" placeholder="Fecha" autocomplete="off"></mat-form-field>
       
    <h4>Legajo</h4>
    <app-selector-default type="legajo" [(matSelect)]="data.legajoid" (optionSelected)="selectChangeLegajo($event,data)"></app-selector-default>

    <h4>Concepto</h4>
    <app-selector-default type="concepto" [(matSelect)]="data.conceptoid" (optionSelected)="selectChangeConcepto($event,data)"></app-selector-default>


    <mat-divider></mat-divider>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button (click)="onClickAbort()">Cerrar</button>
    <button mat-raised-button color="primary" (click)="onClickSave(data)">Guardar</button>
    <button mat-raised-button color="primary" mat-button (click)="printService.printTOPDF()">Imprimir</button>
  </div>
</div>