<div class="operators-general-container bg-gray">
  <div class="columns is-gapless">
    <div class="column">
      <div class="operators-container">
        <div class="math-operator-container">
          <span class="math-operator no-selectable">+</span>
        </div>

        <div class="math-operator-container">
          <span class="math-operator no-selectable">-</span>
        </div>

        <div class="math-operator-container">
          <span class="math-operator no-selectable">/</span>
        </div>

        <div class="math-operator-container">
          <span class="math-operator no-selectable">*</span>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="column">
      <div class="logical-operators-general-container">
        <div class="logical-operator-container">
          <span class="logical-operator no-selectable">SI</span>
        </div>
        <div class="logical-operator-container">
          <span class="logical-operator no-selectable">></span>
        </div>
        <div class="logical-operator-container">
          <span class="logical-operator no-selectable"><</span>
        </div>
        <div class="logical-operator-container">
          <span class="logical-operator no-selectable">=</span>
        </div>
        <div class="logical-operator-container">
          <span class="logical-operator no-selectable"><></span>
        </div>
        <div class="logical-operator-container">
          <span class="logical-operator no-selectable">Y</span>
        </div>
        <div class="logical-operator-container">
          <span class="logical-operator no-selectable">ó</span>
        </div>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="column">
      <div class="other-badges-general-container">
        <div class="other-badge-container">
          <span class="badge no-selectable">Ó exclusivo</span>
        </div>
        <div class="other-badge-container active">
          <span class="badge no-selectable">Número</span>
        </div>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="column">
      <div class="more-operators-general-container">
        <!-- <span class="more-operators-badge no-selectable">
          Mas operadores +
        </span> -->

        <select  
          [(ngModel)]="selectedOperator" (ngModelChange)="onOperatorSelected()" 
          class="more-operators-badge no-selectable"
          [value]="null">
          <option [ngValue]="null" disabled>Mas operadores +</option>
          <option *ngFor="let operator of operators" [ngValue]="operator">{{ operator.name }}</option>
        </select>
      </div>
    </div>
  </div>
</div>