<div class="operators-general-container bg-gray">
  <div class="columns is-gapless">
    <div class="column">
      <div class="operators-container">
        <div
          *ngFor="let operator of basicMathOperators; index as index"
          class="math-operator-container no-selectable param numeric-param"
          [attr.data-type]="operator.type"
          [matTooltip]="operator.tooltip"
          (dragstart)="onDragStart($event, operator)"
          (click)="onOperatorItemClick($event, operator)"
          draggable="true">
          <span class="math-operator no-selectable">{{ operator.symbol }}</span>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="column">
      <div class="logical-operators-general-container">
        <div
          *ngFor="let operator of logicalOperators"
          class="logical-operator-container"
          [attr.data-type]="operator.type"
          [matTooltip]="operator.description"
          (dragstart)="onDragStart($event, operator)"
          (click)="onOperatorItemClick($event, operator)"
          draggable="true">
          <span class="logical-operator no-selectable">{{ operator.symbol }}</span>
        </div>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="column">
      <div class="more-operators-general-container">
          <span class="more-operators-button badge no-selectable" (click)="toogleMoreOperatorsVisibility()">Más operadores</span>

          <ul *ngIf="isMoreOperatorsListOpened" class="more-operators-list-container custom-white-field">
              <li
                *ngFor="let operator of moreOperators"
                [id]="'more-operators-' + (operator.id ? operator.id : operator.valueid)"
                [attr.data-type]="(!isFormulaOperator(operator) ? operator.type : getOperatorDefaultType())"
                [attr.data-data]="getOperatorTransferData(operator) | json"
                [matTooltip]="operator.description"
                draggable="true"
                (dragstart)="onMoreOperatorsDragStart($event, operator)"
                (click)="onOperatorSelected(operator)">
                {{ operator.symbol || operator.name }}
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
